.slider {
  position: relative;
  margin-bottom: 60px;

  &__button {
    position: absolute;
    top: 45%;
    background-image: url(../../../../img/arrow.svg);
    border: none;
    background-color: transparent;
    width: 30px;
    height: 40px;
    background-size: contain;
    opacity: .5;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &_prev {
      left: -50px;
      transform: rotate(180deg);
    }

    &_next {
      right: -50px;
    }
  }
}
