.contacts {
  position: relative;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  background-color: $lightPurpleColor;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;

  &__list {
    padding: 0;
    margin: 80px 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 20% 15% 15% 15% 35%;
    grid-template-rows: repeat(4, 1fr);
    font-size: 24px;
    line-height: 1.17;
    row-gap: 30px;
  }

  &__item:first-child {
    justify-self: end;

    &:hover .contacts__icon {
      @include trambling(1s);
    }
  }

  &__item:nth-child(2n) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: -30px;
  }

  &__item:nth-child(3n) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;

    & .contacts__icon {
      transition: 1s;
    }

    &:hover .contacts__icon {
      transform: scale(1.2);
    }
  }

  &__item:nth-child(4n) {
    grid-column: 4 / 5;
    grid-row: 4 / 5;

    & .contacts__icon {
      transition: 1s;
    }

    &:hover .contacts__icon {
      transform: translateY(10%);
    }
  }

  &__link {
    text-decoration: none;
    display: flex;
    column-gap: 12px;
    color: $lightGreenColor;
  }

  &__icon {
    display: block;
    object-fit: contain;
  }

  &__contact {
    padding: 0;
    margin: 0;
  }
}


