.price {
  grid-column: 2 / 3;
  background-color: $darkGreenColor;
  color: $lightPurpleColor;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  &__buttons {
    padding: 0;
    list-style-type: none;
    margin: 50px auto;
    display: flex;
    column-gap: 30px;
  }

  &__type {
    font-size: 24px;
    line-height: 1.17;
    padding: 0;
    list-style-type: none;
    margin: 40px auto 0;
    display: grid;
    row-gap: 25px;
    text-align: center;
    cursor: default;
  }
}
