.problems {
  background-color: $lightGreenColor;
  display: grid;
  justify-items: center;
  color: $lightPurpleColor;
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  @include media_700 {
    grid-column: 1 / 2;
  }
}
