.button-close {
  display: block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../img/button-close.svg);
  background-color: transparent;
  padding: 0;
  background-size: contain;

  @include media_960 {
    width: 20px;
    height: 20px;
    top: -25px;
    right: -25px;
  }

  &:hover {
    cursor: pointer;
    opacity: .6;
    transition: .7s;
  }
}
