/* styles */
@mixin fontStyle {
  font-style: normal;
  font-weight: 400;
}

/* animations */
@mixin rotationRight($duration) {
  @keyframes rotationRight {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  animation-name: rotationRight;
  animation-duration: $duration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@mixin rotationLeft($duration) {
  @keyframes rotationLeft {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  animation-name: rotationLeft;
  animation-duration: $duration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@mixin trambling($duration) {
  @keyframes trambling {
    0%, 100% {
      transform: rotate(0deg);
    }
    20%, 60% {
      transform: rotate(-10deg);
    }
    40%, 80% {
      transform: rotate(10deg);
    }
  }

  animation-name: trambling;
  animation-duration: $duration;
  animation-timing-function: ease-in-out;
}
