.star {
  position: absolute;
  background-image: url(../../../img/star.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;

  @include media_960 {
    width: 80px;
    height: 80px;
  }

  @include media_820 {
    width: 70px;
    height: 70px;
  }

  @include media_480 {
    width: 50px;
    height: 50px;
  }

  &_position_header {
    top: 47px;
    left: -8px;
    transform: rotate(24deg);
    @include rotationRight(15s);

    @include media_960 {
      top: 40px;
      left: 0;
    }

    @include media_820 {
      top: 22px;
    }

    @include media_480 {
      top: 24px;
      left: 4px;
    }
  }

  &_position_contacts {
    top: 40%;
    right: 19%;
    @include rotationLeft(15s);

    @include media_960 {
      top: 31%;
      right: 17%;
    }

    @include media_590 {
      top: 45%;
    }

    @include media_480 {
      right: 15%;
    }

    @include media_390 {
      display: none;
    }
  }
}
