.star {
  position: absolute;
  background-image: url(../../../img/star.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;

  &_position_header {
    top: 47px;
    left: -8px;
    transform: rotate(24deg);
    @include rotationRight(15s);
  }

  &_position_contacts {
    top: 40%;
    right: 19%;
    @include rotationLeft(15s);
  }
}
