.button {
  background-color: transparent;
  color: $lightGreenColor;
  padding: 10px 15px;
  background-image: url(../../../img/border-button-green.png);
  border: none;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  letter-spacing: 0.05em;
  @include fontStyle;
  font-size: 16px;
  line-height: 1.2;
  box-sizing: border-box;
  text-decoration: none;

  @include media_960 {
    font-size: 14px;
  }

  @include media_820 {
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &:hover {
    opacity: .8;
  }

  &_color_purple {
    color: $lightPurpleColor;
    background-image: url(../../../../img/border-button-purple.png);
  }
}
