.education {
  background-color: $lightGreenColor;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  @include media_700 {
    grid-column: 1 / 2;
    background-color: $darkGreenColor;
  }

  &__list {
    @include resetUl;
    margin: 10px 0 0;
  }

  &__diploma {
    width: 300px;
    height: 300px;
    object-fit: contain;
    cursor: pointer;

    @include media_820 {
      width: 250px;
      height: 250px;
    }

    @include media_390 {
      width: 200px;
      height: 200px;
    }
  }
}
