.education {
  background-color: $lightGreenColor;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  &__list {
    padding: 0;
    margin: 10px 0 0;
    list-style-type: none;
  }

  &__diploma {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
}
